<!DOCTYPE html>
<html>
<head>
    <style>
        
        header {
            background-color: blue;
            color: white;
            padding: 20px;       
            border-radius: 15px; 
            text-align: center;
        }
        section{
            background-color:rgb(240, 240, 245);
            padding: 20px;
            margin-top: 10px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <header> titulo de la web</header>
     <section>
    <h1>proposito</h1>
    <p>es proposito de esta web es tal tal</p>
     </section>
    <section>
        <h1>juegos disponibles para tu aprendisaje</h1>
    </section>


</body>
</html>
